{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./storybook"
        ],
        "extensions": [
          ".js"
        ],
        "alias": {
          "@theme": "./src/theme",
          "@icons": "./src/icons",
          "@src": "./src"
        }
      }
    ]
  ]
}