{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./storybook"],
        "extensions": [
          ".js"
        ],
        "alias": {
          "@theme": "./storybook/stories/theme"
        }
      }
    ]
  ]
}